#article {
    margin-top: 50px;
}
#cards {
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3.333%;
}
#fora {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #f2f2f2;

}

#card {
    margin-left: 3%;
}
