#div1{
    margin-top: 80px;
    margin-bottom: 10px;
}
#div2{
    padding: 10px;
}
#divLeft{
    font-size: large;
    text-align: justify;
}
#divRight{
    text-align: justify;
    font-size: large;

}
#img1{
    width: 90%;
    height: 40%;
}

#img2{
width: 100%;
}